In [6]:
import pandas as pd

# Read a sample of the data
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
df = pd.read_csv(prefix + 'yellow_tripdata_2021-01.csv.gz', nrows=100)

# Display first rows
df.head()

# Check data types
df.dtypes

# Check data shape
df.shape

(100, 18)

## Homework tasks

In [7]:
path_trips = 'https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet'
path_zones = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv'
df_trips = pd.read_parquet(path_trips)
df_zones = pd.read_csv(path_zones)

In [8]:
df_trips.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [27]:
df_zones.head()

            LocationID        Borough                     Zone service_zone
LocationID
1                    1            EWR           Newark Airport          EWR
2                    2         Queens              Jamaica Bay    Boro Zone
3                    3          Bronx  Allerton/Pelham Gardens    Boro Zone
4                    4      Manhattan            Alphabet City  Yellow Zone
5                    5  Staten Island            Arden Heights    Boro Zone

In [26]:
df_zones.index = df_zones.LocationID

## Question 3. Counting short trips

For the trips in November 2025 (lpep_pickup_datetime between '2025-11-01' and '2025-12-01', exclusive of the upper bound), how many trips had a trip_distance of less than or equal to 1 mile?

In [10]:
df_trips[(df_trips['lpep_pickup_datetime']>=c) & \
         (df_trips['lpep_pickup_datetime']<pd.to_datetime('2025-12-01')) & \
         (df_trips['trip_distance']<=1)   
        ].shape[0]

8007

In [17]:
df_trips.loc[df_trips[df_trips['trip_distance'] < 100]['trip_distance'].idxmax(),'lpep_pickup_datetime']

Timestamp('2025-11-14 15:36:27')

In [28]:
df_zones.loc[df_trips.loc[df_trips[(df_trips['lpep_pickup_datetime']>=pd.to_datetime('2025-11-18')) & \
         (df_trips['lpep_pickup_datetime']<pd.to_datetime('2025-11-19'))]['total_amount'].idxmax(),'PULocationID'],'Zone']

'Flushing'

In [22]:
df_trips.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'cbd_congestion_fee'],
      dtype='object')

In [33]:
df_trips.loc[df_trips[(df_trips['lpep_pickup_datetime']>=pd.to_datetime('2025-11-18')) & \
         (df_trips['lpep_pickup_datetime']<pd.to_datetime('2025-11-19'))]['total_amount'].idxmax(),:]

VendorID                                   2
lpep_pickup_datetime     2025-11-18 23:39:42
lpep_dropoff_datetime    2025-11-18 23:43:00
store_and_fwd_flag                         N
RatecodeID                               5.0
PULocationID                              92
DOLocationID                              92
passenger_count                          1.0
trip_distance                            0.0
fare_amount                            350.0
extra                                    0.0
mta_tax                                  0.0
tip_amount                               0.0
tolls_amount                             0.0
ehail_fee                                NaN
improvement_surcharge                    1.0
total_amount                           351.0
payment_type                             2.0
trip_type                                2.0
congestion_surcharge                     0.0
cbd_congestion_fee                       0.0
Name: 25233, dtype: object

In [39]:
df_trips[(df_trips['lpep_pickup_datetime']>=pd.to_datetime('2025-11-18')) & \
         (df_trips['lpep_pickup_datetime']<pd.to_datetime('2025-11-19'))].groupby(["PULocationID"])['total_amount'].sum().idxmax()

np.int32(74)

In [40]:
df_zones.loc[74,:]

LocationID                     74
Borough                 Manhattan
Zone            East Harlem North
service_zone            Boro Zone
Name: 74, dtype: object

In [46]:
df_trips[
    (df_trips['PULocationID'] == df_zones[df_zones['Zone']=="East Harlem North"].index[0]) & \
    (df_trips['lpep_pickup_datetime']>=pd.to_datetime('2025-11-01')) & \
    (df_trips['lpep_pickup_datetime']<pd.to_datetime('2025-12-01'))
    ].groupby(["DOLocationID"])['tip_amount'].max().idxmax()

np.int32(263)

In [47]:
df_zones.loc[263,:]

LocationID                 263
Borough              Manhattan
Zone            Yorkville West
service_zone       Yellow Zone
Name: 263, dtype: object